// 播放/暂停 按钮
.play-btn {
  background-image: url('../../../assets/images/video-play.png');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;

  &.pause {
    background-image: url('../../../assets/images/video-pause.png');
  }
}
