// 进度条
.progress-container {
  height: 5px;
  position: relative;

  .focus-preview {
    position: absolute;
    left: 0;
    top: -25px;
    height: 25px;
    width: 100%;
  }

  .video-preview {
    position: absolute;
    left: 0;
    top: -100%;
  }

  .slide-buffered {
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    z-index: 10;
    height: 5px;
    width: 15%;
    left: 0;
    top: 0;
    border-radius: 2.5px;
  }

  .slider-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    cursor: pointer;
  }
}
